@{
    ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Introduction";
}

<h1>@ViewData["Title"]</h1>
<p>Hola, soy Juan Perniola.</p>
<p>Bienvenido a mi portfolio hecho con Razor en .NET.</p>
