@{
    ViewData["Title"] = "PageDetails";
}

<h1>@ViewData["Title"]</h1>

<section class="">

    <h2>Page Details</h2>
    <div class="PageDetails">
        <h3>Extra information about this page</h3>
        <p>
        
        </p>
    </div>

    <h2>Kubernetes</h2>

    <div class="PageDetails">
        <h3>
        Como funciona el kubernetes creado            
        </h3>
        <p>
        </p>
    </div>

    <h2>Docker</h2>

    <div class="PageDetails">
        <h3>
        Como funciona el docker file creado
        </h3>
        <p>
            
        </p>
    </div>

    <h2>Page where is deploy</h2>

    <div class="PageDetails">
        <h3> Rail Way </h3>
        <p>
        </p>
    </div>

</section>
